/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

html,body{
	height: 100%;
	font-family: 'Exo 2', sans-serif;
	scroll-behavior: smooth;
	font-style: normal;
	font-weight: normal;
}

/*Базовые*/
.wrapper{}
.container{
	max-width: 100%;
	position: relative;
}
.button {
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
	padding-top: 16px;
	padding-bottom: 15px;
	background: #C01E7E;
	border-radius: 0;
	padding-left: 10px;
	padding-right: 10px;	
}


/*Основные*/

.row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.search-block--mobile {
		width: 100%;
		max-width: 320px;
		padding: 27px 20px 18px;
		margin: 0 auto;
	}
	.cur-city {
		font-weight: bold;
		font-size: 14px;
		line-height: 19px;
		color: #171D33;
		margin-left: 17px;		
	}
	.cur-city.cur-city--selected {
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 19px;
	}
	.edit-btn.cur-city--selected {
		display: block;
	}
	.edit-btn {
		display: none;
		font-style: normal;
		font-weight: 500;
		font-size: 11px;
		line-height: 15px;
		color: #265B88;
	}
	.edit-btn:hover {
		cursor: pointer;
	}
	.close-btn {
	
	}
	.close-btn:hover {
		cursor: pointer;
	}
	.search-input {
		margin: 32px 0 22px;
		position: relative;
	}
	.search-term {
		width: 100%;
		min-width: 280px;
		line-height: 35px;
		border: 1px solid #265B88;
		border-radius: 30px;
		padding: 0 40px;
		font-weight: 500;
		font-size: 12px;
		color: #343744;
	}
	.search-term:focus {
		font-size: 14px;
	}
	.search-btn {
		position: absolute;
		top: 50%;
		left: 12px;
		margin-top: -9px;
	}
	.clear-btn {
		position: absolute;
		top: 50%;
		right: 8px;
		margin-top: -9px;
	}
	.advanced-search {
		display: none;
		font-weight: 600;
		font-size: 14px;
		line-height: 19px;
		color: #265B88;
		margin-bottom: 28px;
	}
	.advanced-search__text-wr {
		margin-bottom: 12px;
	}
	.advanced-search--active {
		display: block;
	}
	.advanced-search__text {
		margin-left: 5px;
		font-weight: 600;
		font-size: 14px;
		line-height: 19px;
		color: #265B88;
		display: block;
	}
	.advanced-search__text--hide {
		display: none;
	}
	.search-list-wr {
		overflow: auto;
		max-height: 478px;
		display: none;
	}
	.search-list-wr--active {
		display: block;
	}
	.search-list__item {
		font-weight: 500;
		font-size: 14px;
		color: #343744;
		padding: 16px 0;
		border-bottom: 1px solid #E0E0E0;
		position: relative;
	}
	.search-list__item--cur:after {
		content: url('data:image/svg+xml; base64, PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAxOCAxMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE3IDFMNiAxMkwxIDciIHN0cm9rZT0iIzI2NUI4OCIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==');
		display: block;
		position: absolute;
		top: 50%;
		right: 0;
		margin-top: -5px;
	}
	.search-term--checked {
		background: #EDEDED;
		color: #747474;
	}
	.search-term--checked:focus {
		color: #343744;
	}
	.advanced-search__content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 26px;
	}
	.advanced-search__option {
		background: #EDEDED;
		border-radius: 5px;
		width: 87px;
		height: 24px;
		font-weight: 500;
		font-size: 11px;
		line-height: 1.85em;
		text-align: center;
		color: #265B88;
		margin-bottom: 10px;
		border: 1px solid #EDEDED;
	}
	.advanced-search__option:first-child {
		background: #fff;
		border: 1px solid #265B88;
		box-sizing: border-box;
	}
	.advanced-search__option--active {
		background: #265B88 !important;
		color: #fff;
		border: 1px solid #265B88;
	}
	.price__text {
		font-weight: bold;
		font-size: 14px;
		line-height: 19px;
		color: #171D33;
	}
	.price__clear-btn {
		font-weight: 500;
		font-size: 11px;
		line-height: 15px;
		color: #265B88;
	}
	.check-block {
		margin-top: 19px;
		margin-bottom: 28px;
	}
	.checkbox {
		position: absolute;
		z-index: -1;
		opacity: 0;
	}
	.checkbox + .check-label {
		display: inline-flex;
  		align-items: center;
  		user-select: none;
	}
	.checkbox + .check-label:before {
		content: '';
  		display: inline-block;
		width: 18px;
		height: 18px;
		border: 2px solid #265B88;
		background-repeat: no-repeat;
  		background-position: center center;
  		margin-right: 8px;

	}
	.checkbox:checked+label::before {
		background-image: url("../img/Vector.png");
	}
	.check-label {
		font-weight: 500;
		font-size: 12px;
		line-height: 16px;
		color: #343744;
		margin-left: 8px;
	}
	.advanced-search__submit {
		background: #265B88;
		border-radius: 30px;
		width: 100%;
		height: 35px;
		line-height: 35px;
		color: #fff;
		font-size: 14px;
		text-align: center;
	}

	// RANGE FILTER 
	.range-container * {
    box-sizing: border-box;
    outline: none;
}
.range-container {
    margin: 22px 0 35px 0;
    width: 100%;
}
.range-container:after {
    content: "";
    clear: both;
    display: table;
}
.range-container .ui-slider {
    position: relative;
    background: #c4c4c4;
    height: 3px;
}
.range-container .ui-slider .ui-slider-handle {
    position: absolute;
    margin-left: -7px;
    width: 14px;
    height: 14px;
    cursor: pointer;
    border-radius: 50%;
    top: -6px;
    background: #265B88;
    z-index: 2;
}

.range-container .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    height: 3px;
    border: 0;
    background: #265B88;
}
	.price-filter {
		margin-top: 22px;
		margin-bottom: 26px;
	}
	.price-filter__min, .price-filter__max {
		font-weight: 500;
		font-size: 14px;
		line-height: 19px;
		color: #25282B;
		width: 130px;
		height: 20px;
	}
	.price-filter-wr {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 35px;
	}
	.range-label {
		display: flex;
		font-weight: 500;
		font-size: 14px;
		line-height: 19px;
		color: #25282B;
		border-bottom: 1px solid #E0E0E0;
		width: 130px;
	}

@media (max-width: 991.98px) {

}

@media (max-width: 767.98px){

}

@media (max-width: 575.98px){
	
}
